<div class="container">
  <div class="border p-2">
    <div class="row">      
      <div class="col">
        <%= render :partial => "form" %>
      </div>
    </div>
    <hr class="mt-1">

    <div class="row">
      <div class="col-sm"> 
        <div id="revenue_table">
          <%= render :partial => "table" %>
        </div>
      </div>
    </div>
  </div>
</div>
